<%- include("partials/header.ejs") %>

<div class="main-body roboto-font">
    <h1>What's on your mind?</h1>
    <div>
        <a id="post-btn" class="roboto-font" href="/new-post">Create a Post</a>
    </div>
</div>

<%- include("partials/footer.ejs") %>
<script> 
</script>