<%- include("partials/header.ejs", {removeImage: "removeImage"}) %>

<div class="posts-container">
  <h1 class="posts arbutus-font">Posts</h1>
  <% if(postArr.length == 0){ %>
  <p style="font-size: 20px">
    No posts to show yet,
    <a href="/new-post" id="newPostLink"
      >click here to create your first post!</a
    >
  </p>
  <% }%>
  <ul>
    <% for(i = 0; i < postArr.length; i++){ var content =
    postArr[i].postContent;%>

    <li>
      <h3 class="post-title roboto-font" style="margin-bottom: 0">
        <%= postArr[i].postTitle %>
      </h3>
      <hr />
      <p class="post-text arbutus-font" style="margin-bottom: 50px">
        <%= content %>
      </p>
    </li>
    <%#
    <hr />
    %> <% } %>
  </ul>
</div>

<%- include("partials/footer.ejs") %>
